<nz-breadcrumb  style="margin:16px 0;" [nzAutoGenerate]="true">
  <nz-breadcrumb-item>
    <a [routerLink]="['/article']">文章</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-content style="">

  <form nz-form [nzLayout]="'inline'" [formGroup]="ordersInfo" (ngSubmit)="validArticleInfo()">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="12">文章名称</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="12">
            <input nz-input placeholder="文章标题" formControlName="title">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="12">文章编码</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="12">
            <input nz-input placeholder="文章编码" formControlName="articleCode">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="12">文章分类</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="12">
            <nz-select style="width: 100%;" formControlName="articleType" nzAllowClear nzPlaceHolder="文章分类">
              <nz-option *ngFor="let select of articleTypeSelect" [nzValue]="select.value" [nzLabel]="select.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="12">个人分类</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="12">
            <nz-select nzMode="tags" style="width: 100%;" nzPlaceHolder="个人分类"  formControlName="articlePersonalClassification">
              <nz-option *ngFor="let option of pcSelect" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="12">是否原创</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="12">
            <nz-select style="width: 100%;" formControlName="isOriginal" nzAllowClear nzPlaceHolder="是否原创">
              <nz-option *ngFor="let select of isOriginalSelect" [nzValue]="select.value" [nzLabel]="select.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="12">是否私密</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="12">
            <nz-select style="width: 100%;" formControlName="isPrivate" nzAllowClear nzPlaceHolder="是否私密">
              <nz-option *ngFor="let select of isPrivateList" [nzValue]="select.value" [nzLabel]="select.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="9">
    </div>
    <div nz-col [nzSpan]="2">
      <button nz-button nzType="primary" (click)="queryArticleByParam()" nzGhost>搜索</button>
    </div>
    <div nz-col [nzSpan]="2">
      <button nz-button nzType="primary" (click)="reSetParam()" nzGhost>重置</button>
    </div>
    <div nz-col [nzSpan]="9">
    </div>
    <div nz-col [nzSpan]="2">
      <button nz-button nzType="primary" (click)="addArticle()" nzGhost>新增</button>
    </div>
  </div>
</nz-content>
<nz-table #nzTable nzShowSizeChanger [nzData]="dataSet"    [nzTitle]="'文章类型'" [nzShowPagination] = "false"
          [nzTotal]="totalRecords" [nzBordered]="true" [nzPageSize]="nzPageSize"
          (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzScroll]="{ x:'1400px'}"
>
  <!-- [nzPageSize]="nzPageSize"
          (nzPageIndexChange)="indexChange($event)" [nzShowSizeChanger]="true" [nzShowQuickJumper]="true"
          (nzPageSizeChange)="sizeChange($event)"-->
  <thead style="text-align: center">
  <tr>
    <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
    <th nzWidth="100px" nzLeft="0px">id</th>
    <th nzWidth="100px" nzLeft="90px">文章编码</th>
    <th nzWidth="100px">文章类型</th>
    <th nzWidth="100px">作者</th>
    <th nzWidth="100px">标题</th>
    <th nzWidth="100px">标签</th>
    <th nzWidth="100px">个人分类</th>
    <th nzWidth="100px">是否原创</th>
    <th nzWidth="100px">是否私密</th>
    <th nzWidth="100px">创建人</th>
    <th nzWidth="100px">创建时间</th>
    <th nzWidth="100px">最后修改人</th>
    <th nzWidth="100px">最后修改时间</th>
    <th nzWidth="100px">备注</th>
    <th nzWidth="100px" nzRight="0px">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of nzTable.data">
    <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus()"></td>
    <td nzWidth="100px" nzLeft="0px">{{data.id}}</td>
    <td nzWidth="100px" nzLeft="90px">{{data.articleCode}}</td>
    <td>{{statusChange(data.articleType,articleTypeSelect)}}</td>
    <td>{{data.author}}</td>
    <td>{{data.title}}</td>
    <td>{{data.tags}}</td>
    <td>{{data.articlePersonalClassification}}</td>
    <td>{{statusChange(data.isOriginal,isOriginalSelect)}}</td>
    <td>{{statusChange(data.isPrivate,isPrivateList)}}</td>
    <td>{{data.createUser}}</td>
    <td>{{ data.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
    <td>{{data.lastModifiedUser}}</td>
    <td>{{ data.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
    <td>{{data.remark}}</td>
    <td nzRight="0px"><a (click)="editArticle(data,true)">编辑</a>&nbsp;<a (click)="deleteArticle(data)">删除</a></td>
  </tr>
  </tbody>
</nz-table>
<nz-pagination [nzPageIndex]="nzPageIndex" [nzTotal]="totalRecords" [nzPageSize]="nzPageSize"
               (nzPageIndexChange)="indexChange($event)" [nzShowSizeChanger]="true"
               (nzPageSizeChange)="sizeChange($event)"
               nzShowSizeChanger nzShowQuickJumper
></nz-pagination>
