<nz-breadcrumb  style="margin:16px 0;" [nzAutoGenerate]="true">
  <nz-breadcrumb-item>
    <a [routerLink]="['/web/brand/']">品牌</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/web/brand/add']">新增</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-tabset>
  <nz-tab nzTitle="新增">
    <form nz-form [formGroup]="brandInfo" (ngSubmit)="validAddBrandInfo()">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="brandName" nzRequired>
          <span>
            品牌名称
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="brandName" formControlName="brandName">
          <nz-form-explain *ngIf="brandInfo.get('brandName').dirty && brandInfo.get('brandName').errors">请输入品牌名称</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired >状态</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="status">
            <nz-option nzValue="0" nzLabel="禁用"></nz-option>
            <nz-option nzValue="1" nzLabel="启用"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="brandInfo.get('status').dirty && brandInfo.get('status').errors">请选择一个状态</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">
          <span>
           备注
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="remark" formControlName="remark">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">新增</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-tab>
</nz-tabset>
