<body id="page-body">
  <p-toast [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-toast>

  <p-panel header="找回密码" [style]="{'margin':'100px'}">
    <br>
    <div class="ui-g">
      <div class="ui-g-4">
            <span class="ui-float-label">
              <input id="passWord" type="password" size="30" pInputText name="passWord" [(ngModel)]="order.passWord">
              <label for="passWord">新密码</label>
            </span>
      </div>
      <div class="ui-g-4">
            <span class="ui-float-label">
              <input id="passWordAgain" type="password" size="30" pInputText name="passWordAgain" [(ngModel)]="order.passWordAgain">
              <label for="passWordAgain">重复密码</label>
            </span>
      </div>
    </div>
    <br>
    <button pButton type="button" label="确定" (click)="modifyPassWord()"  class="ui-button-rounded"></button>

  </p-panel>
</body>
