<nz-breadcrumb  style="margin:16px 0;" [nzAutoGenerate]="true">
  <nz-breadcrumb-item>
    <a [routerLink]="['/web/brand']">品牌</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/web/brand/info']">{{tabName}}</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-tabset>
  <nz-tab [nzTitle]="tabName">
    <form nz-form [formGroup]="brandInfo" (ngSubmit)="validAddBrandInfo()">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="brandName" nzRequired>
          <span>
            品牌名称
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="brandName" formControlName="brandName" [readOnly]="!isEdit">
          <nz-form-explain *ngIf="brandInfo.get('brandName').dirty && brandInfo.get('brandName').errors">请输入品牌名称</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired >状态</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="status"  [nzDisabled]="true">
            <nz-option nzValue="0" nzLabel="禁用"></nz-option>
            <nz-option nzValue="1" nzLabel="启用"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="brandInfo.get('status').dirty && brandInfo.get('status').errors">请选择一个状态</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">
          <span>
           备注
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="remark" formControlName="remark"  [readOnly]="!isEdit">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">
          <span>
           创建人
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="createUser" formControlName="createUser"  [readOnly]="true">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>创建时间</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker nzShowTime formControlName="createTime"  [nzDisabled]="true"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">
          <span>
           最后修改人
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="lastModifiedUser" formControlName="lastModifiedUser"  [readOnly]="true">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>最后修改时间</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker nzShowTime formControlName="lastModifiedTime"  [nzDisabled]="true"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">保存</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-tab>
</nz-tabset>
