/*下右*/
#index{
  height: 100%;;
  width: 100%;
  background: url(../../../../../assets/picture/menu-right.jpg) no-repeat;
  /*让图片自适应*/
  background-size:cover;
  background-attachment: fixed;
  background-size:100%100%;
}
