<body id="page-body">
  <p-toast [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"></p-toast>

  <p-panel header="找回密码" [style]="{'margin':'100px'}">
    <br><br>
    <div class="p-grid">
      <div class="ui-g height-top">
        <div class="ui-g-4">
            <span class="ui-float-label">
              <input id="passWord" type="password" size="60" pInputText name="passWord" [(ngModel)]="order.passWord">
              <label for="passWord">密码</label>
            </span>
        </div>
        <div class="ui-g-4">
            <span class="ui-float-label">
              <input id="confirmPassWord" type="password" size="60" pInputText name="confirmPassWord" [(ngModel)]="order.confirmPassWord">
              <label for="confirmPassWord">确认密码</label>
            </span>
        </div>

        <br><br><br>

        <button pButton type="button" label="确定" (click)="register()"  class="ui-button-rounded"></button>

      </div>
    </div>
  </p-panel>

  <p-dialog header="用户名确认" [(visible)]="isDialog" [closable]="false" [blockScroll] = "true" [responsive]="true" [modal]="true" width="800">

    <div class="">
            <span class="ui-float-label">
              <input id="userName" type="text" size="60" pInputText name="userName" [(ngModel)]="order.userName">
              <label for="userName">用户名</label>
            </span>
    </div>
    <div>
      <button pButton type="button" label="确定" (click)="register()"  class="ui-button-rounded"></button>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
            <span class="ui-float-label">
              <input id="question1" type="text" size="30" pInputText name="question1" [(ngModel)]="order.question1">
              <label for="question1">问题1</label>
            </span>
      </div>
      <div class="ui-g-4">
            <span class="ui-float-label">
              <input id="answer1" type="text" size="30" pInputText name="answer1" [(ngModel)]="order.answer1">
              <label for="answer1">答案1</label>
            </span>
      </div>
    </div>
    <br><br>
    <div  class="ui-g-12">
      <div class="ui-g-4">
            <span class="ui-float-label">
              <input id="question2" type="text" size="30" pInputText name="question2" [(ngModel)]="order.question2">
              <label for="question2">问题2</label>
            </span>
      </div>
      <div class="ui-g-4">
            <span class="ui-float-label">
              <input id="answer2" type="text" size="30" pInputText name="answer2" [(ngModel)]="order.answer2">
              <label for="answer2">答案2</label>
            </span>
      </div>
    </div>
  </p-dialog>
</body>
