<nz-breadcrumb  style="margin:16px 0;" [nzAutoGenerate]="true">
  <nz-breadcrumb-item>
    <a [routerLink]="['/web/article/']">文章</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/web/article/edit']">编辑</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-tabset>
  <nz-tab nzTitle="新增">
    <form nz-form [formGroup]="ordersInfo" (ngSubmit)="validAddBrandInfo()">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>
          <span>
            标题
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="title" formControlName="title">
          <nz-form-explain *ngIf="ordersInfo.get('title').dirty && ordersInfo.get('title').errors">请输入标题</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="content" nzRequired>
          <span>
            内容
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="22" [nzXs]="24">
          <p-editor formControlName="content"  id="content" [style]="{'height':'320px'}"></p-editor>
          <!--<input nz-input id="content" formControlName="content">-->
          <nz-form-explain *ngIf="ordersInfo.get('content').dirty && ordersInfo.get('content').errors">请输入内容</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tags" nzRequired>
          <span>
            标签
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-tag *ngFor="let tag of tags; let i = index;" [nzMode]="'closeable'" [nzChecked]="true" (nzAfterClose)="handleClose(tag)" [nzColor]="'magenta'" (nzAfterClose)="tagsChange()">
            {{ sliceTagName(tag) }}
          </nz-tag>
          <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
            <i nz-icon type="plus"></i> 新增标签,最多五个
          </nz-tag>
          <input #inputElement nz-input nzSize="small" id="tag" formControlName="tag" [maxLength]="20"  *ngIf="inputVisible"
                 type="text"[hidden]="isTagsShow" [(ngModel)]="inputValue" style="width: 78px;" (blur)="handleInputConfirm()"  (keydown.enter)="handleInputConfirm()">
          <input  nz-input nzSize="small" id="tags" formControlName="tags" [(ngModel)]="tags" [hidden]="true">
          <nz-form-explain *ngIf="ordersInfo.get('tags').dirty && ordersInfo.get('tags').errors">请输入标签</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="articlePersonalClassification" nzRequired>
          <span>
            个人分类
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-tag *ngFor="let tagPc of articlePersonalClassification; let i = index;" [nzMode]="'closeable'" [nzChecked]="true" (nzAfterClose)="handleClosePc(tagPc);tagsChangePc();closeTagPc(tagPc)" [nzColor]="'magenta'">
            {{ sliceTagName(tagPc) }}
          </nz-tag>
          <nz-tag *ngIf="!inputVisiblePc" class="editable-tag" nzNoAnimation (click)="showInputPc()">
            <i nz-icon type="plus"></i> 个人分类,最多五个
          </nz-tag>
          <input #inputElement nz-input nzSize="small" id="tagPc" formControlName="tagPc" [maxLength]="20"  *ngIf="inputVisiblePc"
                 type="text"[hidden]="isTagsShowPc" [(ngModel)]="inputValuePc" style="width: 78px;" (blur)="handleInputConfirmPc()"  (keydown.enter)="handleInputConfirmPc()">
          <input  nz-input nzSize="small" id="articlePersonalClassification" formControlName="articlePersonalClassification" [(ngModel)]="articlePersonalClassification" [hidden]="true">
          <nz-form-explain *ngIf="ordersInfo.get('articlePersonalClassification').dirty && ordersInfo.get('articlePersonalClassification').errors">请输入个人分类</nz-form-explain>
          <nz-card style="width:500px;height: 100px ">
            <nz-checkbox-group [(ngModel)]="multiSelectTags" formControlName="multiSelectTags" (ngModelChange)="selectMultiData(multiSelectTags)"></nz-checkbox-group>
          </nz-card>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired >类型</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="articleType">
              <nz-option [nzValue]=data.value [nzLabel]=data.label *ngFor="let data of articleTypeSelect"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="ordersInfo.get('articleType').dirty && ordersInfo.get('articleType').errors">请选择一个类型</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired >是否原创</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="isOriginal">
            <nz-option [nzValue]=data.value [nzLabel]=data.label *ngFor="let data of isOriginalSelect"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="ordersInfo.get('isOriginal').dirty && ordersInfo.get('isOriginal').errors">请选择一个原创类型</nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <!--<nz-setForm-item>
        <nz-setForm-label [nzSpan]="6" nzRequired >状态</nz-setForm-label>
        <nz-setForm-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="status">
            <nz-option nzValue="0" nzLabel="禁用"></nz-option>
            <nz-option nzValue="1" nzLabel="启用"></nz-option>
          </nz-select>
          <nz-setForm-explain *ngIf="ordersInfo.get('status').dirty && ordersInfo.get('status').errors">请选择一个状态</nz-setForm-explain>
        </nz-setForm-control>
      </nz-setForm-item>-->

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired >私密文章</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="isPrivate">
            <nz-option nzValue="0" nzLabel="否"></nz-option>
            <nz-option nzValue="1" nzLabel="是"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="ordersInfo.get('isPrivate').dirty && ordersInfo.get('isPrivate').errors">请选择是否私密</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">
          <span>
           创建人
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="createUser" formControlName="createUser"  [readOnly]="true">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>创建时间</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker nzShowTime formControlName="createTime"  [nzDisabled]="true"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">
          <span>
           最后修改人
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="lastModifiedUser" formControlName="lastModifiedUser"  [readOnly]="true">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>最后修改时间</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker nzShowTime formControlName="lastModifiedTime"  [nzDisabled]="true"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item >
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">
          <span>
           备注
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="remark" formControlName="remark">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">更新</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-tab>
</nz-tabset>
